.query-box {
    background-color: #fff;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    border-width: 0 0 1px 1px;
    border-style: solid;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0 10px 10px;
}

#intention-buttons {
	margin: 0 10px 10px 10px;
}

#suggestions-table caption {
    caption-side: top;
}

#suggestions-table tr {
    cursor: pointer;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th,
.table-hover tbody tr:focus td, .table-hover tbody tr:focus th {
  background-color: #f7ecb5;
}
