{% macro load_script_root() %}

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{% endmacro %}

{% macro load_script() %}

<script type=text/javascript>
  $(function() {

      $('button#submit-retrieve').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_retrieve_values', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              to_count: $('input[name="inputCount"]').val(),
              to_retrieve: $('input[name="inputRetrieve"]').val()
          }, function (data) {
              if (data) {
                  if (data.output_type === 'answer') {
                      $("#query-result").empty().append(data.result);
                  } else if (data.output_type === 'dialogue') {
                      $("#query-result").empty().append(dialog_caption(data.result));
                      let table = dialog_table(data.result);
                      $(table).insertAfter("#query-result");
                      $("#query-result").focus();
                  } else {
                      $("#query-result").empty().append('Your query could not be resolved.');
                  }
              }
          });
          return false;
      });

      $('button#submit-filter').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_filter', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              to_filter: $('input[name="inputFilter"]').val(),
          }, function (data) {
              $("#query-result").empty().append(data.result);
          });
          return false;
      });

      $('button#submit-derivedValue').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_derived_value', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              query: $('input[name="inputDerivedVal"]').val(),
              queryExtreme: $('input[name="inputExtreme"]').val(),
              querySort: $('input[name="inputSort"]').val(),
              queryRange: $('input[name="inputRange"]').val(),
          }, function (data) {
              $("#query-result").empty().append(data.result);
          });
          return false;
      });


      $('button#submit-overview').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_overview', {
              current_graphic: $('input[name="currentGraphic"]').val(),
          }, function (data) {
              $("#query-result").empty().append(data.result);
          });
          return false;
      });

      $('button#submit-next').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'next',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-previous').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'previous',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-up').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'up',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-down').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'down',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-first').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'first',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-last').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'last',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-highest').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'highest',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-lowest').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'lowest',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-nav-reset').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'reset',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-where').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'where',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-set-home').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'sethome',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-gotohome').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_navigate', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              action: 'gotohome',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
              $('#inputCurBarTags').val(data.usertags);
          });
          return false;
      });

      $('button#submit-curBarTags').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_add_user_tags', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              user_tags: $('input[name="inputCurBarTags"]').val(),
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $('#inputCurBarTags').attr('placeholder', data.usertags);
          });
          return false;
      });

      $('button#submit-intention').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_fetch_intention', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              force_exec: 'no',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $("#intention-result").html(data.intentions)
          });
          return false;
      });

      $('button#submit-calc-intention').bind('click', function () {
          $.getJSON($SCRIPT_ROOT + '/_fetch_intention', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              force_exec: 'yes',
          }, function (data) {
              $("#query-result").empty().append(data.result);
              $("#intention-result").html(data.intentions)
          });
          return false;
      });

      // User has chosen a suggestion from the suggestions table
      $(document).on("click", ".suggestion-button" , function() {
          $("#query-result").empty().append(dialog_wait(true));
          $(this).closest("tbody").find(".suggestion-button").each(function() {
                $(this).html('Voting...');
                $(this).prop('disabled', true);
          });
          vote_selected($(this).data("voteid"));
          return false;
      });

      $('button.clr-result').click(function () {
          $("#query-result").empty().append(dialog_wait(false));
      });

      function vote_selected(voteid) {
          $.getJSON($SCRIPT_ROOT + '/_vote_selected', {
              current_graphic: $('input[name="currentGraphic"]').val(),
              vote_id: voteid,
          }, function (data) {
              if (data) {
                  $("#suggestions-table").remove();
                  if (data.output_type === 'answer') {
                      $("#query-result").empty().append(data.result);
                  } else if (data.output_type === 'dialogue') {
                      $("#query-result").empty().append(dialog_caption(data.result));
                      let table = dialog_table(data.result);
                      $(table).insertAfter("#query-result");
                      $("#query-result").focus();
                  } else {
                      $("#query-result").empty().append('Your query could not be resolved.');
                  }
              }
          });
      }

      function dialog_wait(voting) {
          if (voting) {
              return 'Your vote is being processed. Please wait...';
          }
          else {
              return 'Your query is being processed. Please wait...';
          }
      }

      function dialog_caption(suggestion_json) {
          let caption = ' I need your help to continue. Is \'';
          caption += suggestion_json['text'];
          caption += '\' related to any of the following elements?. Please select one of the suggestions below:';
          return caption
      }

      function dialog_table(suggestion_json) {
          let table = '<table id="suggestions-table" class="table table-striped table-hover" style="width: 100%">';
          table += '<thead><tr><th scope="col">#</th><th scope="col">Function</th><th scope="col">Resource</th>';
          table += '<th scope="col">Select</th></tr></thead><tbody>';
          for (let i=0; i<suggestion_json['votes'].length; i++) {
            table += '<tr class="suggestion-row"><th scope="row">';
            table += i+1;
            table += '</th><td>';
            if (suggestion_json['votes'][i]['task']) {
                table += suggestion_json['votes'][i]['task'];
            } else {
                table += ' - ';
            }
            table += '</td><td>';
            if (suggestion_json['votes'][i]['candidate']) {
                table += suggestion_json['votes'][i]['candidate'];
                table += ' (score: ';
                table += suggestion_json['votes'][i]['score'];
                table += ')';
            } else {
                table += 'None of the previous elements';
            }
            table += '</td>';
            table += '<td><button type="button" class="btn suggestion-button" data-voteid="';
            table += suggestion_json['votes'][i]['id'];
            table += '">Select</button></td>';
            table += '</tr>';
          }
          table += '</tbody>';
          table += '</table>';
          return table
      }
  });
</script>

{% endmacro %}