<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AUDiaL: Accessible Graphics Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/icons/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='icons/favicon-32x32.png') }}>
    <link rel="icon" type="image/png" sizes="96x96" href={{ url_for('static', filename='icons/favicon-96x96.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='icons/favicon-16x16.png') }}>
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</head>

<body>

<nav id="top" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">AUDiaL: Accessible Universal Diagrams through Language</a>
        </div>
    </div>
</nav>
<div class="container-fluid" style="padding: 60px;">
	<div class="row">
	   <div class="col-sm-3 col-md-2 sidebar">
	       <ul class="nav nav-sidebar">
	       {% for graphic in GRAPHICS %}
	           {% if current == graphic %}
	               <li class="active">
	           {% else %}
	               <li>
	           {% endif %}
	           <a href="{{ GRAPHICS[graphic][3] }}">{{ graphic }}</a>
	           </li>
	       {% endfor %}
	       </ul>
	   </div>
	   <div class="col-sm-9 col-md-10 main">
           {% block pageinfo %} {% endblock %}
	       {% block graphicinfo %} {% endblock %}
           {% block dialogue %} {% endblock %}
	       {% block semnav %} {% endblock %}
	   </div>
	</div>
</div>

<footer class="footer page-footer">
    <div class="container footer-contents">
        <ul class="list-inline">
            <li>
            {%- if session['logged_in'] -%}
                <a href="{{ url_for('logout') }}">
                    Logout
                </a>
            {%- else -%}
                <a href="{{ url_for('login_form') }}">
                    Login
                </a>
            {% endif %}
            </li><li>
                <a href="https://www.jku.at/institut-integriert-studieren/" target="_blank">
                    Institut Integriert Studieren
                </a>
            </li><li>
                <a href="https://www.jku.at/" target="_blank">
                    Johannes Kepler University Linz
                </a>
            </li><li class="smedia-logo">
                <a href="https://github.com/tomurillo/AUDiaL/" target="_blank">
                    <img src="{{ url_for('static', filename='icons/github-brands.svg') }}"
                         width="100%"  class="img-responsive"
                         alt="Fork me on Github" title="Fork me on Github">
                </a>
            </li>
        </ul>
    </div>
</footer>

</body>

</html>