{% extends "base.html" %}

{% from "_ajaxhelpers.html" import load_script_root, load_script %}

{% block graphicinfo %}
{% include "main.html" %}
{% endblock %}

{% block dialog %}
    {% if output_type is defined and output_type == 'dialogue' %}
        {% include "dialog.html" %}
    {% endif %}
{% endblock %}

{% block semnav %}

<div id="navigation-container" class="container-fluid">
        <ul id="navtabs" class="nav nav-pills" role="tablist">
            <li role="presentation" class="active">
                <a href="#dialog" aria-controls="dialog" role="tab" data-toggle="tab">Query</a></li>
            <li role="presentation">
                <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Navigation</a></li>
            <li role="presentation">
                <a href="#intention" aria-controls="intention" role="tab" data-toggle="tab">Intention</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active query-box" id="dialog">
			 <div class="form-inline">
                  <div id="form-group-retrieve-label" class="form-group">
                    <p class="form-control-static">Retrieve: </p>
                  </div>
                  <div id="form-group-retrieve-input" class="form-group">
                    <label for="inputRetrieve" class="sr-only">Retrieve:</label>
                    <input type="text" class="form-control" name="inputRetrieve" 
                        id="inputRetrieve" placeholder="e.g. What is the average population of Vienna?">
                  </div>
             </div>
             <input type="hidden" id="currentGraphic" name="currentGraphic" value="{{ current }}">
			 <button id="submit-retrieve" class="btn btn-default clr-result">Submit Query</button>
            </div>
            
            <div role="tabpanel" class="tab-pane query-box" id="intention">
              <div class="panel panel-info">
                <div class="panel-heading">Author's intention</div>
                <div id="intention-result" class="panel-body">
                    <p>Use the buttons below to get the author's intention.</p>
                </div>
                <div id="intention-buttons">
	                <div class="btn-group" role="group" aria-label="author intention buttons">
	                   <button id="submit-intention" class="btn btn-info clr-result">Fetch Intention</button>
	                   <label for="submit-calc-intention" class="sr-only">
                       Execute the intention task queries if they have not been executed yet or the graphic has changed.
                       </label>
                       <button id="submit-calc-intention" class="btn btn-link clr-result">Recompute Intention</button>
	                </div>
                </div>
              </div>
             </div>
            
            <div role="tabpanel" class="tab-pane query-box" id="overview">
              <input type="hidden" id="currentGraphic" name="currentGraphic" value="{{ current }}">
              <div class = "row">
                  <div class="col-xs-4 col-md-3 text-center">
                  <h4 class="text-center text-info">Overview</h4>
	              <div class="btn-group-vertical" role="group" aria-label="Navigation-Overview">
	                <button id="submit-overview" class="btn btn-default clr-result">Overview</button>
	              </div>
	              <h4 class="text-center text-info">Add Tags</h4>
                  <div class="row">
	                  <div class="form-group">
	                    <p class="form-control-static">Current Bar Tags</p>
	                  </div>
                     <div class="col-md-10">
	                  <div class="form-group">
	                    <label for="inputCurBarTags" class="sr-only">Current Bar Tags:</label>
	                    <input type="text" class="form-control" name="inputCurBarTags" 
	                        id="inputCurBarTags" placeholder="{{ curBarTags }}">
	                  </div>
                    </div>
                    <div class="col-md-2">
	                    <input type="hidden" id="currentGraphic" name="currentGraphic" value="{{ current }}">
	                    <button id="submit-curBarTags" class="btn btn-default clr-result">Edit</button>
                    </div>
                  </div>
	              </div>
	              <div class="col-xs-4 col-md-3 text-center">
	              <h4 class="text-center text-info">Basic Navigation</h4>
	              <div class="btn-group-vertical" role="group" aria-label="Basic Navigation Links">
		              <button id="submit-where" class="btn btn-default clr-result">Where am I?</button>
		              <button id="submit-set-home" class="btn btn-default clr-result">Set as Home Node</button>
		              <button id="submit-next" class="btn btn-default clr-result">Go to Next Bar</button>
		              <button id="submit-previous" class="btn btn-default clr-result">Go to Previous Bar</button>
		              <button id="submit-up" class="btn btn-default clr-result">Go one Level Up</button>
		              <button id="submit-down" class="btn btn-default clr-result">Go one Level Down</button>
		              <button id="submit-nav-reset" class="btn btn-default clr-result">Reset Navigation</button>
	              </div></div>
	              <div class="col-xs-4 col-md-3 text-center">
                  <h4 class="text-center text-info">Quick Jumps</h4>
	              <div class="btn-group-vertical" role="group" aria-label="Quick Navigation Links">
		              <button id="submit-first" class="btn btn-default clr-result">Go to First Bar</button>
		              <button id="submit-last" class="btn btn-default clr-result">Go to Last Bar</button>
		              <button id="submit-highest" class="btn btn-default clr-result">Go to Highest Value Bar</button>
		              <button id="submit-lowest" class="btn btn-default clr-result">Go to Lowest Value Bar</button>
		              <button id="submit-gotohome" class="btn btn-default clr-result">Go to Home Node</button>
	              </div></div>
	              <div class="col-xs-4 col-md-3"></div>
              </div>
            </div>
        </div>
    </div>
    
{{ load_script_root() }}
{{ load_script() }}

{% endblock %}