    <h2 class="page-header">{{ current }}: <small>{{ GRAPHICS[current][1] }}</small></h2>
    <div id="maingraph-container" class="container-fluid">
        <img src="{{ url_for('static', filename='graphics/' + GRAPHICS[current][0]) }}"
             alt="{{ GRAPHICS[current][2] }}" style="width: 100%; height: auto; max-width:800px"/>
    </div>
    <hr/>
    <div id="result-container" class="container-fluid">
	    <div class="panel panel-primary">
	        <div id="query-heading" class="panel-heading" role="heading" aria-level="2">Query Result:</div>
	        <div class="panel-body" id="query-result" aria-live="polite">
	            Please enter a query below
	        </div>
	    </div>
    </div>